<figure class="card">
    <div class="card__emoji">{X-product-image-X} {X-product-image-X}</div>

    <div class="card__title-box">
        <h2 class="card__title">{X-product-name-X}</h2>
    </div>

    <div class="card__details">
        <div class="card__detail-box {X-NOT_ORGANIC-X}">
            <h6 class="card__detail card__detail--organic">Organic!</h6>
        </div>
        <div class="card__detail-box">
            <h6 class="card__detail">{X-product-quantity-X} per 📦</h6>
        </div>
        <div class="card__detail-box">
            <h6 class="card__detail card__detail--price">{X-product-price-X}€</h6>
        </div>
    </div>

    <a class="card__link" href="/product?id={X-product-ID-X}">
        <span>Detail <i class="emoji-right">👉</i></span>
    </a>
</figure>